#info {
    text-align: center;
}
#head {
    color: white;
    font-size: 30px;
    background-color: #1e88e5;    
}
.btn {
    background-color: whitesmoke;
    color:black;
}
body {
    background: url(../images/capitol-hill.jpg);
    background-size: cover;
    background-attachment: fixed;     
}
main {
    flex: 1 0 auto;
}
#side-nav{
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 50px;
    margin-left: 30px;    
}
#input-form{
    padding-left: 0px;
    padding-right: 1.50rem;
}
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e88e5;
    color: white;
    text-align: center;
}
#menu-img {
    height: 150px;
    width: 300px;
}
#return {
    background-color: whitesmoke;
    color: black;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;    
}
#submit-btn{
    background-color: #f44336;
    color: white;
}
#clear-btn{
    background-color: white;
    color: black;
}
#random-btn{
    background-color: #1e88e5;
    color: white;
}
#random-btn:hover{
    background-color: #f44336;
}
#submit-btn:hover{
    background-color: #1e88e5;
}
.material-icons{
    color:whitesmoke;
}
.material-icons.prefix{
    color:whitesmoke;
}
#state-list{
    background-color: whitesmoke;
    color: black;
    padding-left: 5px;
}
.autocomplete{
    color: white;
}
#map-card {
    background-color: #1e88e5;
    display: none;   
}
#info-card {
    display: none;
    line-height: 150%
}
#info-title{
    font-weight: bold;
    border-bottom: solid 
}
.section-search input.autocomplete {
    color: #000;
  }
  .input-field .prefix.active {
    color: white!important;
  }
  .dropdown-content li>a, .dropdown-content li>span {
    color: #000!important;
  }
  .autocomplete-content li .highlight {
    color: #f44336 !important;
  }